name: Selenium Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  api-tests:
    runs-on: ubuntu-latest
    name: API Tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run API tests
        run: mvn clean test -Dgroups=api

  web-tests:
    runs-on: ubuntu-latest
    name: Web Tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Run Web tests
        run: mvn clean test -Dgroups=web
